@model Person

<h3>
    Thong tin dang ky
</h3>
<hr />

<li>Ho ten: @Model.Fullname</li>
<li>Ngay sinh: @Model.BirtDay</li>
<li>
    Hinh dai dien:<br />

    <img src="~/img/@Model.Picture" width="200px" />
</li>